.review-h1 {
  text-align: center;
  margin-top: 0%;
  padding-top: 5vh;
  padding-bottom: 3vh;
  color: white;
}

.rev-container {
  background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Architects Daughter", cursive;
}

.rev2-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15vh;
  min-height: 70vh;
  max-height: 70vh;
  width: 60vw;
}

.reviews-shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 25vw;
  width: 20vw;
  min-height: 30vh;
  max-height: 30vh;
  margin: 0 5vh;
  background-color: rgba(225, 225, 225, 0.365);
}

.field {
  text-align: center;
  line-height: 3vh;
}

.name-field {
  margin-top: 4vh;
}

.review-field {
  margin: 0 2vw;
}

@media only screen and (max-width: 834px) {
  .rev2-container {
    width: 100vw;
  }
  .reviews-shown {
    min-height: 25vh;
    max-height: 25vh;
    min-width: 35vw;
    max-width: 35vw;
  }
}

@media only screen and (max-width: 375px) {
  .reviews-shown {
    margin-top: 3vh;
    max-height: 40vh;
  }
}
